.mainContainer {
  background-color: black;
  min-height: 100vh;
  overflow: scroll;
  color: white;
  padding: 5rem;
  padding-top: 2rem;
  display: flex;
}
.rightDataContainer {
  background-color: #242424;
  padding: 2rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.leftNameContainer {
  background-color: #131313;
  flex: 1;
  padding: 1rem;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding-top: 2rem;
}
.mainInput {
  background-color: #242424 !important;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
